# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*
.env.local

# Cache / artifacts
*.dll
*.so
*.pyd
*.db
*.log
# Vector DB - must not be committed
chroma_db/
# PDF files
*.pdf
input/*.pdf
